.bold{
    font-weight: bold;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-row > span{
    padding: 3px;
}

.flex-row > label{
    margin-right: 10px;
}

.flex-column > div{
    padding-bottom: 5px;
}

.flex-center{
    display: flex;
    align-items: center;
}

body{
    margin: 20px;
}

.box-container{
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.background-click-input{
    background-color: #E1E1E1;
}

.background-click-input:hover{
    background-color: #D1D1D1;
}